# NEORV32 submodule
neorv32/

# Quartus generated
par/db/
par/incremental_db/
par/output_files/
par/greybox_tmp/
par/*.qws
par/*.rpt
par/*.summary
par/*.smsg
par/*.done
par/*.pin
par/*.jdi
par/*.sld
par/*.sof
par/*.pof
par/*.jic

# Simulation
*.wlf
*.vstf
transcript
work/
vsim.wlf

# OS
.DS_Store
Thumbs.db

# Editor
*.swp
*~
.idea/
.vscode/
